<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConvolutionReverb - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ConvolutionReverb - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ConvolutionReverb - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ConvolutionReverb - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ConvolutionReverb - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>633EFB5CCB23E2AE0F304FB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>658E220C184C2B7E4F33E952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99D7018E5819250D584746BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1FC57CC282D0E18ADA963F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA48DE729FA63739F60A8974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
